*{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
}
.nav-header{
    height: 90px;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
}
.head-contain{
    
    margin: 0 auto;
    /* text-align 并不控制块元素自己的对齐,只控制它的行内内容的对齐 */
    text-align: auto;
    /* position: relative; */
}
.head-contain,.top-logo,.top-nav,.top-nav li,.top-right{
    /* color: black; */
    height: 90px;
    display: inline-block;
    /* 用来指定行内元素（inline）或表格单元格（table-cell）元素的垂直对齐方式 */
    vertical-align: top;
}
/* .clear{
    clear: both;
    margin: 0;
    padding: 0;
} */
.top-logo{
    margin: 0;
    padding: 0;
    text-align: center;
}
.top-nav{
    margin: 0;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.top-nav li{
    line-height: 90px;
    width: 87px;
}
.top-nav li a{
    margin: 0;
    width: 87px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: rgb(0, 0, 0);
}
.top-nav li a:hover{
    color: white;
    background-color: red;
}
.top-right{
    display: inline-block;
    margin-left: 40px;
    vertical-align: top;
    text-align: center;
    /* position: absolute;
    right: 100px; */
    /* position: relative; */
    z-index: 10;
}
.top-right a{
    /* display: inline-block does not add a line-break after the element
    so the element can sit next to other elements. */
    display: inline-block;
    font-size: 16px;
    text-align: center;
    margin-top: 25px;
    border-radius: 35px;
}
.top-right a:first-of-type{
    display: inline-block;
    width: 96px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    color: #e8b600;
    border: 1px solid #fad65c;
}
.top-right a:first-of-type:hover{
    color: #e8b600;
    background: #fad65c;
}
.top-right a:last-of-type{
    width: 140px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    background: #fad65c;
    color: #986b0d;
}
.top-right a:last-of-type:hover{
    background: #fddc6c;
}
.picture{
    margin: 0;
    padding: 0;
    text-align: center;
}